server/node-red/flow.json
[
    {
        "id": "3c3d598ee3d6a97c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "606d71b46615da7c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b7a48cdf37ecce9",
        "type": "tab",
        "label": "Example mongodb4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d5827538163e2160",
        "type": "mqtt-broker",
        "name": "mqtt estufinha",
        "broker": "192.168.8.5",
        "port": "2001",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "22dba644aa7aea67",
        "type": "rocketchat-server",
        "name": "TexterGreen Rocket Chat",
        "host": "http://192.168.8.5:3000",
        "user": "rzmA7FjfrtksMa27D",
        "token": "SeWh1f38l84ft4CJSm-v5e8HMD48docKqn5h7v0rPdc"
    },
    {
        "id": "a52063e041fa5f04",
        "type": "mqtt-broker",
        "name": "mqtt pomar",
        "broker": "192.168.8.5",
        "port": "2002",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bcf62987d490788a",
        "type": "mongodb4-client",
        "name": "DataDB - no database",
        "protocol": "mongodb",
        "hostname": "192.168.8.5",
        "port": "27017",
        "dbName": "",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "7b00fa308db70c4e",
        "type": "mongodb4-client",
        "name": "DataDB - test",
        "protocol": "mongodb",
        "hostname": "192.168.8.5",
        "port": "27017",
        "dbName": "test",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "9362c1adaa612ce4",
        "type": "mongodb4-client",
        "name": "DataDB - sensor_data",
        "protocol": "mongodb",
        "hostname": "192.168.8.5",
        "port": "27017",
        "dbName": "sensor_data",
        "appName": "",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    },
    {
        "id": "d9d0c82806e17e8e",
        "type": "mqtt in",
        "z": "3c3d598ee3d6a97c",
        "name": "Estufinha estado de rega",
        "topic": "opensprinkler/station/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d5827538163e2160",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 260,
        "wires": [
            [
                "dead79f50367f757",
                "ae4981b6a0904731"
            ]
        ]
    },
    {
        "id": "aed8041c717e0343",
        "type": "rocketchat-out",
        "z": "3c3d598ee3d6a97c",
        "name": "Notify",
        "server": "22dba644aa7aea67",
        "destination": "rooms",
        "room": "general",
        "roomType": "str",
        "avatarText": "",
        "avatarTextType": "str",
        "aliasText": "",
        "aliasTextType": "str",
        "emojiText": "",
        "emojiTextType": "str",
        "messageText": "payload.send",
        "messageTextType": "msg",
        "attachments": "[]",
        "attachmentsType": "json",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "13c3d5517b01ad2b",
        "type": "mqtt in",
        "z": "3c3d598ee3d6a97c",
        "name": "# estufinha",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d5827538163e2160",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 100,
        "wires": [
            [
                "d3b3607684767dcb"
            ]
        ]
    },
    {
        "id": "d3b3607684767dcb",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "debug #estufinha",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "0372922a3c3f0824",
        "type": "mqtt in",
        "z": "3c3d598ee3d6a97c",
        "name": "# pomar",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a52063e041fa5f04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 180,
        "wires": [
            [
                "ba40ccdfefda7f98"
            ]
        ]
    },
    {
        "id": "ba40ccdfefda7f98",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "debug #pomar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 180,
        "wires": []
    },
    {
        "id": "91289d4e9af354f4",
        "type": "mqtt in",
        "z": "3c3d598ee3d6a97c",
        "name": "Pomar estado de rega",
        "topic": "opensprinkler/station/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a52063e041fa5f04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 360,
        "wires": [
            [
                "99d68a6688f2a6a3",
                "6c07775cbe40f72f"
            ]
        ]
    },
    {
        "id": "dead79f50367f757",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "debug mudanca estufinha",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "6c07775cbe40f72f",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "debug mudanca pomar",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "a80e679f2075392f",
        "type": "function",
        "z": "3c3d598ee3d6a97c",
        "name": "function 2",
        "func": "var topicParts = msg.topic.split('/');\nvar stationNumber = topicParts.pop();\nmsg.payload.stationNumber = stationNumber;\nlet stationName = context.global[msg.location+\"_name_\" + stationNumber];\n\n// 0 OFF\n// 1 ON\nif (msg.payload.state === 0) {\n    msg.payload.send = msg.location+\" :\\nEstação ID: \" + stationNumber + \"\\nEstação Nome: \" + stationName + \"\\nEstado: Esteve ativa por \" + msg.payload.duration + \" segundos.\";\n} else {\n\n    msg.payload.send = msg.location +\" :\\nEstação ID: \" + stationNumber + \"\\nEstação Nome: \" + stationName + \"\\nEstado: Foi ativada.\";\n}\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 320,
        "wires": [
            [
                "aed8041c717e0343"
            ]
        ]
    },
    {
        "id": "f82ea9c4b347f965",
        "type": "inject",
        "z": "3c3d598ee3d6a97c",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "43200",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "8ca8528f9721f2dc",
                "e9df3149e5856ffd"
            ]
        ]
    },
    {
        "id": "8ca8528f9721f2dc",
        "type": "http request",
        "z": "3c3d598ee3d6a97c",
        "name": "Names OpenSprinkler Pomar",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.8.184:8080/jn?pw=e4a89868b069802aa0cf67419f7dad38",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "54fb5fd23317a77f"
            ]
        ]
    },
    {
        "id": "e9df3149e5856ffd",
        "type": "http request",
        "z": "3c3d598ee3d6a97c",
        "name": "Names OpenSprinkler Estufinha",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.8.131:8083/jn?pw=e4a89868b069802aa0cf67419f7dad38",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 680,
        "wires": [
            [
                "c186be56791b720d"
            ]
        ]
    },
    {
        "id": "853f56259a0ebe43",
        "type": "function",
        "z": "3c3d598ee3d6a97c",
        "name": "Extract Station Names",
        "func": "let snames = msg.payload.snames;\n\nlet stationNames = [];\n\nfor (let i = 0; i < snames.length; i++) {\n    let varName = msg.location+\"_name_\" + i;\n    let stationName = snames[i];\n    context.global[varName] = stationName;\n    stationNames.push(stationName);\n}\n\nmsg.payload = stationNames;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 600,
        "wires": [
            [
                "c5ad4cc36233f275",
                "af18eb77f75c7d0e"
            ]
        ]
    },
    {
        "id": "c5ad4cc36233f275",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "Station Names",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 520,
        "wires": []
    },
    {
        "id": "af18eb77f75c7d0e",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "Original Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 660,
        "wires": []
    },
    {
        "id": "b9fb3c249635ce51",
        "type": "http request",
        "z": "3c3d598ee3d6a97c",
        "name": "States OpenSprinkler Estufinha",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.8.131:8083/js?pw=e4a89868b069802aa0cf67419f7dad38",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 960,
        "wires": [
            [
                "f30b9fea9e64e6e6"
            ]
        ]
    },
    {
        "id": "0fce10212c7c0ba3",
        "type": "http request",
        "z": "3c3d598ee3d6a97c",
        "name": "States OpenSprinkler Pomar",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.8.184:8080/js?pw=e4a89868b069802aa0cf67419f7dad38",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 820,
        "wires": [
            [
                "6279e5d7f42a1309"
            ]
        ]
    },
    {
        "id": "d17811804fb0631e",
        "type": "rocketchat-in",
        "z": "3c3d598ee3d6a97c",
        "name": "We receive a msg",
        "server": "22dba644aa7aea67",
        "origin": "user",
        "room": "general",
        "roomType": "str",
        "roomData": "{}",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "d15f465088378fa4",
                "34651c721a08e6f8"
            ]
        ]
    },
    {
        "id": "d15f465088378fa4",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "Rocket Chat msg recieved",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c9218e29eb1eaa9d",
        "type": "rocketchat-out",
        "z": "3c3d598ee3d6a97c",
        "name": "Send msg.payload.send",
        "server": "22dba644aa7aea67",
        "destination": "rooms",
        "room": "payload.rid",
        "roomType": "msg",
        "avatarText": "",
        "avatarTextType": "str",
        "aliasText": "",
        "aliasTextType": "str",
        "emojiText": "",
        "emojiTextType": "str",
        "messageText": "payload.send",
        "messageTextType": "msg",
        "attachments": "[]",
        "attachmentsType": "json",
        "x": 1330,
        "y": 1300,
        "wires": []
    },
    {
        "id": "39822f2e6664bd2b",
        "type": "function",
        "z": "3c3d598ee3d6a97c",
        "name": "function 3",
        "func": "var regex = /^!rega\\s*(\\S+)?$/;\nvar match = msg.payload.msg.match(regex);\n\nif (match[1]) {\n    var location = match[1];\n    var keys = Object.keys(context.global);\n    var locationKeys = keys.filter(function (key) {\n        return key.startsWith(location+\"_name_\");\n    });\n\n    var result = locationKeys.map(function (key) {\n        var id = key.split(\"_\")[2];\n        var name = context.global[key];\n        var state = context.global[location + \"_state_\" + id];\n        state = state.map(function (val) {\n            return parseInt(val);\n        });\n        return id +\": \"+name + \" - \" + state[id];\n    }).join(\"\\n\");\n\n    msg.payload.send = \"Localização: \" + location + \"\\nEstações Disponiveis:\\n\" + result + \"\\nUtilizar !rega \"+location+\" (estação) on/off\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1240,
        "wires": [
            [
                "c9218e29eb1eaa9d"
            ]
        ]
    },
    {
        "id": "34651c721a08e6f8",
        "type": "switch",
        "z": "3c3d598ee3d6a97c",
        "name": "!rega",
        "property": "payload.msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "!rega",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 1300,
        "wires": [
            [
                "d23e3629b0362561",
                "eec10c81d340b746",
                "a6b53012284ebc2d",
                "6102a88bcfba1a60",
                "2aeb4d3f8d8d3035"
            ]
        ]
    },
    {
        "id": "6c1950c83ef1d1aa",
        "type": "comment",
        "z": "3c3d598ee3d6a97c",
        "name": "",
        "info": "!rega - usage manual\n!rega localizaçoes - manda as localizaçoes disponiveis\n!rega pomar - mosta as estaçoes do pomar e estado.\n!rega pomar 1 on/off - liga/desliga a estaçao 1 do pomar\n",
        "x": 340,
        "y": 1360,
        "wires": []
    },
    {
        "id": "c8cad4cc308cc7ce",
        "type": "function",
        "z": "3c3d598ee3d6a97c",
        "name": "Extract Station States",
        "func": "let snstates = msg.payload.sn;\n\nlet stationStates = [];\n\nfor (let i = 0; i < snstates.length; i++) {\n    let varName = msg.location+\"_state_\" + i;\n    let stationState = snstates[i];\n    context.global[varName] = stationStates;\n    stationStates.push(stationState);\n}\n\nmsg.payload = stationStates;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 880,
        "wires": [
            [
                "455e2a95e052af23",
                "f14f76fd608b8bb3"
            ]
        ]
    },
    {
        "id": "455e2a95e052af23",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "Station States",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 820,
        "wires": []
    },
    {
        "id": "f14f76fd608b8bb3",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "Original Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 960,
        "wires": []
    },
    {
        "id": "f30b9fea9e64e6e6",
        "type": "change",
        "z": "3c3d598ee3d6a97c",
        "name": "msg.location - estufinha",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "msg",
                "to": "estufinha",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 960,
        "wires": [
            [
                "c8cad4cc308cc7ce"
            ]
        ]
    },
    {
        "id": "54fb5fd23317a77f",
        "type": "change",
        "z": "3c3d598ee3d6a97c",
        "name": "msg.location - pomar",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "msg",
                "to": "pomar",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 520,
        "wires": [
            [
                "853f56259a0ebe43"
            ]
        ]
    },
    {
        "id": "c186be56791b720d",
        "type": "change",
        "z": "3c3d598ee3d6a97c",
        "name": "msg.location - estufinha",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "msg",
                "to": "estufinha",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 680,
        "wires": [
            [
                "853f56259a0ebe43"
            ]
        ]
    },
    {
        "id": "6279e5d7f42a1309",
        "type": "change",
        "z": "3c3d598ee3d6a97c",
        "name": "msg.location - pomar",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "msg",
                "to": "pomar",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 820,
        "wires": [
            [
                "c8cad4cc308cc7ce"
            ]
        ]
    },
    {
        "id": "d23e3629b0362561",
        "type": "switch",
        "z": "3c3d598ee3d6a97c",
        "name": "!rega (zona)",
        "property": "payload.msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^!rega\\s*(?!(lista\\b|\\b$))(\\S+)$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1240,
        "wires": [
            [
                "5a24db30f519f4ae",
                "1df137bf3d073790"
            ]
        ]
    },
    {
        "id": "a6b53012284ebc2d",
        "type": "switch",
        "z": "3c3d598ee3d6a97c",
        "name": "!rega lista",
        "property": "payload.msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "!rega lista",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 1300,
        "wires": [
            [
                "f59054777a79209d"
            ]
        ]
    },
    {
        "id": "eec10c81d340b746",
        "type": "switch",
        "z": "3c3d598ee3d6a97c",
        "name": "!rega",
        "property": "payload.msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "!rega",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 1360,
        "wires": [
            [
                "6182a7f0d41261e3"
            ]
        ]
    },
    {
        "id": "99d68a6688f2a6a3",
        "type": "change",
        "z": "3c3d598ee3d6a97c",
        "name": "msg.location - pomar",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "msg",
                "to": "pomar",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 400,
        "wires": [
            [
                "a80e679f2075392f"
            ]
        ]
    },
    {
        "id": "ae4981b6a0904731",
        "type": "change",
        "z": "3c3d598ee3d6a97c",
        "name": "msg.location - estufinha",
        "rules": [
            {
                "t": "set",
                "p": "location",
                "pt": "msg",
                "to": "estufinha",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "a80e679f2075392f"
            ]
        ]
    },
    {
        "id": "b86995fb29a135c4",
        "type": "link in",
        "z": "3c3d598ee3d6a97c",
        "name": "Get States",
        "links": [
            "5a24db30f519f4ae"
        ],
        "x": 95,
        "y": 880,
        "wires": [
            [
                "0fce10212c7c0ba3",
                "b9fb3c249635ce51"
            ]
        ]
    },
    {
        "id": "5a24db30f519f4ae",
        "type": "link out",
        "z": "3c3d598ee3d6a97c",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "b86995fb29a135c4"
        ],
        "x": 725,
        "y": 1200,
        "wires": []
    },
    {
        "id": "0b7ad5aada78afa0",
        "type": "inject",
        "z": "3c3d598ee3d6a97c",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 900,
        "wires": [
            [
                "0fce10212c7c0ba3",
                "b9fb3c249635ce51"
            ]
        ]
    },
    {
        "id": "1df137bf3d073790",
        "type": "delay",
        "z": "3c3d598ee3d6a97c",
        "name": "Delay for http request",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 1240,
        "wires": [
            [
                "39822f2e6664bd2b"
            ]
        ]
    },
    {
        "id": "f59054777a79209d",
        "type": "template",
        "z": "3c3d598ee3d6a97c",
        "name": "",
        "field": "payload.send",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Zonas disponiveis:\n- estufinha\n- pomar\nUsar: !rega ZONA para consultar os estados das mesmas.",
        "output": "str",
        "x": 780,
        "y": 1300,
        "wires": [
            [
                "c9218e29eb1eaa9d"
            ]
        ]
    },
    {
        "id": "6102a88bcfba1a60",
        "type": "switch",
        "z": "3c3d598ee3d6a97c",
        "name": "!rega (zona) (estação) off",
        "property": "payload.msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^!rega\\s+(\\S+)\\s+(\\d+)\\s+(off)$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 1160,
        "wires": [
            [
                "4fbfe0f88b02a452"
            ]
        ]
    },
    {
        "id": "4fbfe0f88b02a452",
        "type": "function",
        "z": "3c3d598ee3d6a97c",
        "name": "function 4",
        "func": "var regex = /^!rega\\s+(\\S+)\\s+(\\d+)\\s+(on|off)$/;\n//var regex = /^!rega\\s+(\\S+)\\s+(\\d+)\\s+(on|off)(?:\\s+(\\d+))?$/;\nvar match = msg.payload.msg.match(regex);\n\nif (match[1]) {\n    var zona = match[1];\n    var estacao = match[2];\n    var estado = match[3];\n    if (zona == \"estufinha\") {\n        msg.httpip = \"192.168.8.131\"\n        msg.httpport = \"8083\"\n    }\n    if (zona == \"pomar\") {\n        msg.httpip = \"192.168.8.184\"\n        msg.httpport = \"8080\"\n    }\n    // Update the output message to include the \"zona: estação: on/off\" format\n    if (estado == \"on\") {\n        msg.payload.send = \"A ligar:\\nZona:\" + zona +\"\\nEstação: \"+ estacao;\n        //http://os-ip/cm?pw=xxx&sid=0&en=1&t=360 \n        // sid: Station index(starting from 0)\n        // en: Enable bit(1: open the selected station; 0: close the selected station).\n        // t: Timer(in seconds).Acceptable range is 0 to 64800(18 hours).T\n    }\n    if (estado == \"off\") {\n        msg.payload.send = \"A desligar:\\nZona: \" + zona + \"\\nEstação: \" + estacao;\n        msg.payload.zone = zona\n        msg.estacaoid = estacao\n        //http://os-ip/cm?pw=xxx&sid=3&en=0\n    }\n\n\n}\n\n//estufinha 192.168.8.131:8083/\n//pomar 192.168.8.184:8080/\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1160,
        "wires": [
            [
                "c9218e29eb1eaa9d",
                "cd9f2d2f5fe853d8"
            ]
        ]
    },
    {
        "id": "cd9f2d2f5fe853d8",
        "type": "http request",
        "z": "3c3d598ee3d6a97c",
        "name": "!rega (zona) (estacao) off",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://{{httpip}}:{{httpport}}/cm?pw=e4a89868b069802aa0cf67419f7dad38&sid={{estacaoid}}&en=0",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1090,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "6182a7f0d41261e3",
        "type": "template",
        "z": "3c3d598ee3d6a97c",
        "name": "",
        "field": "payload.send",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "!rega lista --> Consultar as zonas disponiveis.\n!rega (ZONA) --> Consultar os estados das estações de determinada zona.\n--- Ligar/Desligar Estação ---\n!rega (ZONA) (ESTAÇÃO) on (SEGUNDOS) --> Ligar determinada estação por X segundos.\n!rega (ZONA) (ESTAÇÃO) off --> Ligar determinada estação.",
        "output": "str",
        "x": 780,
        "y": 1360,
        "wires": [
            [
                "c9218e29eb1eaa9d"
            ]
        ]
    },
    {
        "id": "2aeb4d3f8d8d3035",
        "type": "switch",
        "z": "3c3d598ee3d6a97c",
        "name": "!rega (zona) (estação) on (time)",
        "property": "payload.msg",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^!rega\\s+(\\S+)\\s+(\\d+)\\s+(on)\\s+(\\d+)$",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 1100,
        "wires": [
            [
                "9e0f17946b5414de"
            ]
        ]
    },
    {
        "id": "9e0f17946b5414de",
        "type": "function",
        "z": "3c3d598ee3d6a97c",
        "name": "function 5",
        "func": "var regex = /^!rega\\s+(\\S+)\\s+(\\d+)\\s+(on)\\s+(\\d+)$/;\nvar match = msg.payload.msg.match(regex);\n\nif (match[1]) {\n    var zona = match[1];\n    var estacao = match[2];\n    var estado = match[3];\n    var time = match[4];\n    if (zona == \"estufinha\") {\n        msg.httpip = \"192.168.8.131\"\n        msg.httpport = \"8083\"\n    }\n    if (zona == \"pomar\") {\n        msg.httpip = \"192.168.8.184\"\n        msg.httpport = \"8080\"\n    }\n    // Update the output message to include the \"zona: estação: on/off\" format\n    if (estado == \"on\") {\n        msg.payload.send = \"A ligar:\\nZona:\" + zona +\"\\nEstação: \"+ estacao+\"\\nDuração: \"+ time+\" segundos\";\n        msg.payload.zone = zona\n        msg.estacaoid = estacao\n        msg.timeon = time\n        //http://os-ip/cm?pw=xxx&sid=0&en=1&t=360 \n        // sid: Station index(starting from 0)\n        // en: Enable bit(1: open the selected station; 0: close the selected station).\n        // t: Timer(in seconds).Acceptable range is 0 to 64800(18 hours).T\n    }\n    if (estado == \"off\") {\n        msg.payload.send = \"A desligar:\\nZona: \" + zona + \"\\nEstação: \" + estacao;\n        msg.payload.zone = zona\n        msg.estacaoid = estacao\n        //http://os-ip/cm?pw=xxx&sid=3&en=0\n    }\n\n\n}\n\n//estufinha 192.168.8.131:8083/\n//pomar 192.168.8.184:8080/\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1100,
        "wires": [
            [
                "51f0da9584113648",
                "c9218e29eb1eaa9d"
            ]
        ]
    },
    {
        "id": "51f0da9584113648",
        "type": "http request",
        "z": "3c3d598ee3d6a97c",
        "name": "!rega (zona) (estacao) on (time)",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://{{httpip}}:{{httpport}}/cm?pw=e4a89868b069802aa0cf67419f7dad38&sid={{estacaoid}}&en=1&t={{timeon}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1110,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "3bb6c089f70880a4",
        "type": "http in",
        "z": "3c3d598ee3d6a97c",
        "name": "POST rega",
        "url": "/rega",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 1500,
        "wires": [
            [
                "13330ca594216a81",
                "b0e4d85b6c7fb0a2"
            ]
        ]
    },
    {
        "id": "13330ca594216a81",
        "type": "debug",
        "z": "3c3d598ee3d6a97c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.zona",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1460,
        "wires": []
    },
    {
        "id": "b0e4d85b6c7fb0a2",
        "type": "http response",
        "z": "3c3d598ee3d6a97c",
        "name": "200 OK",
        "statusCode": "200",
        "headers": {},
        "x": 640,
        "y": 1560,
        "wires": []
    },
    {
        "id": "3870c3fd97cc0d79",
        "type": "comment",
        "z": "3c3d598ee3d6a97c",
        "name": "",
        "info": "post com um jason do estilo:\n{\"zona\":\"pomar\", \"estacao\":1, \"action\": \"off\", \"time\": null}\nadicionar tambem enviar o cookie do client para auth com a db",
        "x": 240,
        "y": 1540,
        "wires": []
    },
    {
        "id": "14c1f2c0342bbd68",
        "type": "inject",
        "z": "606d71b46615da7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 580,
        "wires": [
            [
                "684c5f14a873bcdb"
            ]
        ]
    },
    {
        "id": "684c5f14a873bcdb",
        "type": "mongodb4",
        "z": "606d71b46615da7c",
        "clientNode": "9362c1adaa612ce4",
        "mode": "db",
        "collection": "",
        "operation": "stats",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Check global db stats",
        "x": 680,
        "y": 580,
        "wires": [
            [
                "c5bdce29dc3cce9b"
            ]
        ]
    },
    {
        "id": "914ac6f94c131954",
        "type": "inject",
        "z": "606d71b46615da7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "payloadType": "date",
        "x": 300,
        "y": 680,
        "wires": [
            [
                "788d7b2bcc7c52b9"
            ]
        ]
    },
    {
        "id": "788d7b2bcc7c52b9",
        "type": "function",
        "z": "606d71b46615da7c",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina', age: 22}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 680,
        "wires": [
            [
                "cabcb01e59353f3b"
            ]
        ]
    },
    {
        "id": "cabcb01e59353f3b",
        "type": "mongodb4",
        "z": "606d71b46615da7c",
        "clientNode": "9362c1adaa612ce4",
        "mode": "collection",
        "collection": "persons",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 640,
        "y": 680,
        "wires": [
            [
                "c5bdce29dc3cce9b"
            ]
        ]
    },
    {
        "id": "289a37127f4dbe51",
        "type": "inject",
        "z": "606d71b46615da7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 300,
        "y": 780,
        "wires": [
            [
                "a2041abdfc8250cf"
            ]
        ]
    },
    {
        "id": "a2041abdfc8250cf",
        "type": "function",
        "z": "606d71b46615da7c",
        "name": "set payload",
        "func": "msg.payload = [{age: 22}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 780,
        "wires": [
            [
                "c642db3eb145f008"
            ]
        ]
    },
    {
        "id": "c642db3eb145f008",
        "type": "mongodb4",
        "z": "606d71b46615da7c",
        "clientNode": "9362c1adaa612ce4",
        "mode": "collection",
        "collection": "persons",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "find.toArray",
        "x": 650,
        "y": 780,
        "wires": [
            [
                "c5bdce29dc3cce9b"
            ]
        ]
    },
    {
        "id": "28d4e342093f9a27",
        "type": "inject",
        "z": "606d71b46615da7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 880,
        "wires": [
            [
                "893895de059138f2"
            ]
        ]
    },
    {
        "id": "042d00a567e94bf3",
        "type": "mongodb4",
        "z": "606d71b46615da7c",
        "clientNode": "9362c1adaa612ce4",
        "mode": "db",
        "collection": "",
        "operation": "dropDatabase",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 820,
        "y": 880,
        "wires": [
            [
                "c5bdce29dc3cce9b"
            ]
        ]
    },
    {
        "id": "893895de059138f2",
        "type": "function",
        "z": "606d71b46615da7c",
        "name": "Drop mongodb databse",
        "func": "msg.payload = {\n    action: 'dropDatabase'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 880,
        "wires": [
            [
                "042d00a567e94bf3"
            ]
        ]
    },
    {
        "id": "c5bdce29dc3cce9b",
        "type": "debug",
        "z": "606d71b46615da7c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "fe36b4aab8e4b51e",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "02df4cd3db727bea"
            ]
        ]
    },
    {
        "id": "02df4cd3db727bea",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina', age: 22}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [
            [
                "fbdbc88728b6bb53"
            ]
        ]
    },
    {
        "id": "fbdbc88728b6bb53",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "ad6bea22c0e0b689"
            ]
        ]
    },
    {
        "id": "ad6bea22c0e0b689",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "8ee269b8753b02a1",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "b3879290c479d05d"
            ]
        ]
    },
    {
        "id": "b3879290c479d05d",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [[\n    {name: 'chris', age: 22},\n    {name: 'markus', age: 22}\n]];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "f5c11e1900707b1c"
            ]
        ]
    },
    {
        "id": "f5c11e1900707b1c",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "insertMany",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 490,
        "y": 140,
        "wires": [
            [
                "7a265f43dea48889"
            ]
        ]
    },
    {
        "id": "7a265f43dea48889",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "5c8f4bef1a115679",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "df0db7fed54ff2ef"
            ]
        ]
    },
    {
        "id": "df0db7fed54ff2ef",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{name: 'marina'}, {fields: {name: 1, age: 1}}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "fb9612f0dabb7e67"
            ]
        ]
    },
    {
        "id": "fb9612f0dabb7e67",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "fc1f0dfb426c9034"
            ]
        ]
    },
    {
        "id": "fc1f0dfb426c9034",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "5b61665e0f5cc0c5",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "91c84ba4d12fb033"
            ]
        ]
    },
    {
        "id": "91c84ba4d12fb033",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 22}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 320,
        "wires": [
            [
                "daa4aeeeb29120ca"
            ]
        ]
    },
    {
        "id": "daa4aeeeb29120ca",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "find.toArray",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "39ce7da42ba01b32"
            ]
        ]
    },
    {
        "id": "39ce7da42ba01b32",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "1075d26bfd292f92",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "f83a21e14acc6837"
            ]
        ]
    },
    {
        "id": "f83a21e14acc6837",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 22}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 380,
        "wires": [
            [
                "0d76106c415ab9bc"
            ]
        ]
    },
    {
        "id": "0d76106c415ab9bc",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "find",
        "output": "forEach",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "find.forEach",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "6c446d0d50cd33eb"
            ]
        ]
    },
    {
        "id": "6c446d0d50cd33eb",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 380,
        "wires": []
    },
    {
        "id": "e00d5ecdcb458feb",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "5a7163e6a172dec5"
            ]
        ]
    },
    {
        "id": "5a7163e6a172dec5",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: 22}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [
            [
                "eeb034c85f0a357e"
            ]
        ]
    },
    {
        "id": "eeb034c85f0a357e",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "countDocuments",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "countDocuments",
        "x": 510,
        "y": 440,
        "wires": [
            [
                "2f288690a68278bd"
            ]
        ]
    },
    {
        "id": "2f288690a68278bd",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "d5700bd465e13fa5",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "2581ad0e69bb4b74"
            ]
        ]
    },
    {
        "id": "2581ad0e69bb4b74",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{}, {$inc: {age: 1}, $set: {aged: true}}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "ec5005a3a476c75b"
            ]
        ]
    },
    {
        "id": "ec5005a3a476c75b",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "updateMany",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "513e182443df307e"
            ]
        ]
    },
    {
        "id": "513e182443df307e",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "1dac7a6a0bc94b9b",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "3fca5aea8063c42f"
            ]
        ]
    },
    {
        "id": "3fca5aea8063c42f",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "with doc _id",
        "func": "// query a document id with string, \n// the operation node will handle this\nmsg.payload = [{_id: \"6333409294471deda67da815\"}];\n\n// operation node will substitute, if valid id string\n// msg.payload = [{_id: ObjectId(\"6333409294471deda67da815\")}]\n\n// THIS EXAMPLE WILL ONLY WORK IF YOU HAVE A DOCUMENT WITH THIS ID IN YOUR DATA SET :-)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 500,
        "wires": [
            [
                "0179da6221e5f29c"
            ]
        ]
    },
    {
        "id": "0179da6221e5f29c",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": true,
        "name": "findOne",
        "x": 480,
        "y": 500,
        "wires": [
            [
                "1cc86e86236b50da"
            ]
        ]
    },
    {
        "id": "1cc86e86236b50da",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "0f1419fe40a054a4",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "103caed91230c198"
            ]
        ]
    },
    {
        "id": "103caed91230c198",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "set payload",
        "func": "msg.payload = [{age: {$gt: 25}}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 560,
        "wires": [
            [
                "3b5f6cbbc8585516"
            ]
        ]
    },
    {
        "id": "3b5f6cbbc8585516",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "deleteMany",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 490,
        "y": 560,
        "wires": [
            [
                "d69cf47b58e754d7"
            ]
        ]
    },
    {
        "id": "d69cf47b58e754d7",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "d72c3423667d2fe7",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "4fbc5c911d465894"
            ]
        ]
    },
    {
        "id": "4fbc5c911d465894",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "db",
        "collection": "",
        "operation": "stats",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "db stats",
        "x": 480,
        "y": 680,
        "wires": [
            [
                "53eb06efe65bcfc4"
            ]
        ]
    },
    {
        "id": "53eb06efe65bcfc4",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 680,
        "wires": []
    },
    {
        "id": "4efb71ded2d8a294",
        "type": "inject",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "f345242e576f8361"
            ]
        ]
    },
    {
        "id": "f345242e576f8361",
        "type": "function",
        "z": "6b7a48cdf37ecce9",
        "name": "distinct age",
        "func": "msg.payload = [\"age\"];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 620,
        "wires": [
            [
                "9960080cec50e212"
            ]
        ]
    },
    {
        "id": "9960080cec50e212",
        "type": "mongodb4",
        "z": "6b7a48cdf37ecce9",
        "clientNode": "bcf62987d490788a",
        "mode": "collection",
        "collection": "persons",
        "operation": "distinct",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "",
        "x": 480,
        "y": 620,
        "wires": [
            [
                "df8bfd9233fa703a"
            ]
        ]
    },
    {
        "id": "df8bfd9233fa703a",
        "type": "debug",
        "z": "6b7a48cdf37ecce9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 620,
        "wires": []
    }
]
